<p id="notice"><%= notice %></p>

<h1>Disciplina</h1>

  <h4>Nome:
    <%= @discipline.nome %>
  </h4>
<%= link_to "Editar", edit_discipline_path(@discipline), :class => 'btn btn-primary' %>
<%= link_to "Voltar", disciplines_path, :class => 'btn btn-primary' %>