<div class="center jumbotron">
  <h1 class="scaffolds">Bem Vindo ao SISAC!</h1>

  <h2>
    Facilidade de acesso acadêmico.
  </h2>

  <%= link_to "Acessar Agora", '#', class: "btn btn-lg btn-primary" %>
</div>
