<p id="notice"><%= notice %></p>

<h1>Curso</h1>

  <h4>Nome:
    <%= @course.nome %>
  </h4>
<%= link_to "Editar", edit_course_path(@course), :class => 'btn btn-primary' %>
<%= link_to "Voltar", courses_path, :class => 'btn btn-primary' %>
