<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SISAC", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Início",   '#' %></li>
        <li><%= link_to "Entrar", '#' %></li>
      </ul>
    </nav>
  </div>
</header>